<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @frame.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @frame.order %>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
